body {
  background-color: lavender;
}

h1 {
  font-style: oblique;
  color: plum;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.explaining {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#explainbutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbc3e3;
}

#explainbutton:hover {
  background-color: #aa98a9;
}

#clearbutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbc3e3;
}

#clearbutton:hover {
  background-color: #aa98a9;
}

#copybutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbc3e3;
}

#copybutton:hover {
  background-color: #aa98a9;
}
