body {
  background-color: lavender;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-style: oblique;
  color: plum;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

textarea {
  width: 100%;
  min-height: 300px;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.explaining {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#explainbutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbc3e3;
}

#explainbutton:hover {
  background-color: #aa98a9;
}

#clearbutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbc3e3;
}

#clearbutton:hover {
  background-color: #aa98a9;
}

#copybutton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbc3e3;
}

#copybutton:hover {
  background-color: #aa98a9;
}
